<extend name="public:public" />
<block name="title">{$lists[0].title}</block>
<block name="css">
	<style>
		*{margin:0; padding:0;}
		body{font-family:"微软雅黑"; font-size:14px; color:#333;}
		.table{width:800px; margin:60px auto;}
	</style>
</block>

<block name="body">	
<div>
	<a class="btn btn-primary" href="{:U('add')}">添加</a>
</div>
<table class="table table-bordered table-hover">
   	<thead>
   		<tr>
   			<th>文章标题</th>
   			<th>封面图片</th>
   			<th>所属分类</th>
   			<th>文章描述</th>
   			<th>添加时间</th>
   			<th>点击数</th>
   			<th>操作</th>
   		</tr>
   	</thead>
   	<tbody>
   		<!-- 
   			知识点：如果在前台使用php的函数：
   			改变日期显示方式：
   			第一种方式：
   				{$a | date='Y月m日d天',###}
   				$a:后台传过来的变量
   				date之后是日期格式
   			第二种方式：
   				<?php echo date('Y-m-d') ?>
   				
   			第三种方式：
   				<php>echo date('Y-m-d')</php>
   				在html中没有php标签，但是在tp框架中可以自定义标签
   				php在tp提供的，它会被tp解析成原生的代码，原理是用正则去匹配
   			第四种方式：
   				{:date('Y-m-d')}
   				调用php方法，可以在方法前面加上冒号:
   				好处是：代码简洁，灵活
   				
   			总结：方法太多，记住一个就可以	
   			
   		 -->
   		<php>echo date('Y月m-d')</php>
   		{:date('Y-m-d')}
   		<volist name="lists" id="v">
    		<tr>
    			<td>{$v['title']}</td>
    			<td><notempty name="v['path']"><img src="__ROOT__.{$v['path']}" width="120" height="120" /></notempty></td>
    			<td>{:getCateName($v['cateid'])}</td>
    			<td>{$v['des']}</td>
    			<!-- {:date('Y-m-d h:i',$v['intime'])} -->
    			<td>{$v['intime']}</td>
    			<td>{$v['hits']}</td>
    			<td><a href="{:U('detail',array('id'=>$v['articleid']))}">预览</a> |<a href="{:U('edit',array('id'=>$v['articleid']))}">修改</a> | <a href="{:U('delete',array('id'=>$v['articleid']))}">删除</a></td>
    		</tr>
   		</volist>
   		<tr>
   			<td colapan="6">{$page}</td>
   		</tr>
   	</tbody>
   </table>
</block>