<extend name="public:public" />
<block name="title">添加分类 - 飞扬</block>
<block name="css">
	<style>
		*{margin:0; padding:0;}
		body{font-family:"微软雅黑"; font-size:14px; color:#333;}
		.table{width:800px; margin:60px auto;}
		.form-con{width:800px; margin:50px auto;}
		.form-control:focus {
		    border-color: #66afe9;
		    outline: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		}
		.text-area{width:600px; height:100px!important; outline:none; padding:10px; color:#666;}	
	</style>
</block>
<block name="include_file"></block>
<block name="body">
	<div class="form-con">
		<form action="{:U('handleAdd')}" method="post">
		  <div class="form-group">
		  	<label for="exampleInputEmail1">分类名称</label>
		    <input type="text" name="name" class="form-control" id="exampleInputEmail1" value="{$edita.title}" placeholder="标题">
		  </div>
		  <div class="form-group">
		  	<label for="exampleInputEmail1">分类名称</label>
		  	<!--
		  		输出时间的四种方式：
		  		 {:date('Y-m-d',$time)}  Y:输出的是详细年份eg:2017 y:输出的是后两位eg:17
		  		 <?php echo date('Y-m-d') ?>
		  		 <php>echo date('Y-m-d')</php>
		  		 {$time | date='Y-m-d',###} //这种方式只支持date函数
		  		 以上四种比较简洁的是第一种
		  	 -->

		  	
		  	<div class="dropdown">
			  	<select name="pid" class="form-control">
			  		<option value="0">顶级分类</option>
			  		<volist name="lists" id="vo">
			  			<option value="{$vo.cateid}">{:str_repeat($vo['html'],$vo['level'])}{$vo.name}</option>
			  		</volist>
			  	</select>
			 </div>
		  </div> 
		  
		
		
		  <button type="submit" class="btn btn-primary">确认提交</button>
		
		
		</form>
	</div>
</block>
</body>
</html>