<extend name="public:public" />
<block name="title">分类管理 - 飞扬</block>
<block name="css">
	<style>
		*{margin:0; padding:0;}
		body{font-family:"微软雅黑"; font-size:14px; color:#333;}
		.table{margin-top:30px;}
		.container{width:1200px; margin:0 auto;}
	</style>
</block>

<block name="body">
	<div class="container">
		<div>
			<a class="btn btn-primary" href="{:U('add')}">添加</a>
		</div>
		
		<table class="table table-bordered table-hover">
	    	<thead>
	    		<tr>
	    			<th>分类id</th>
	    			<th>父类id</th>
	    			<th>分类名称</th>
	    			<th>操作</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<volist name="lists" id="v">
		    		<tr>
		    			<td>{$v.cateid}</td>
		    			<!-- 
		    				判断的三种方式：
		    					1、if..else
		    					2、present标签 ：判断某个变量是否已经定义
		    					3、{变量|default=""} 如果变量不存在，则显示默认的值	
		    				
		    			-->
		    			<td>
		    				<!-- 如果pid为0，顶级分类，其他则填写对应的父类名称 -->
		    				<!--<if condition="$v['pid']">{$v['pname']}<else />顶级分类</if> -->
		    				<!--<present name="v[pname]">{$v['pname']}<else />顶级分类</present>-->
		    				{$v.pname|default="顶级分类"}
		    			</td>
		    			<!-- 
		    				重复一个字符串：str_repeat(字符串,重复次数)
		    				在标签中使用php函数，需要在函数前面加上:
		    			
		    			 -->
		    			<td>{:str_repeat($v['html'],$v['level'])}{$v['name']}</td>
		    			<td><a href="{:U('edit',array('id'=>$v['cateid']))}">修改</a> | <a href="{:U('delete',array('id'=>$v['cateid']))}">删除</a></td>
		    		</tr>
	    		</volist>
	    		<tr>
	    			<td colapan="6">{$page}</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>
</block>

</body>
</html>